@model RoomQuery.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Room Query</title>
</head>

<div>
    <h1><font size="50"><b>Room Query</b></font></h1>

</div>
<body>
    <div class="row">
        <div class="col-lg-7">
            <canvas id="myChart"></canvas>
        </div>

        <div class="col-lg-5">

    @{if (Model.ActiveOfficeHours.Count() == 0)
        {
            <p><font size="4"><b>There are no TAs currently in the SRC</b></font></p>
        }
        else
        {
            <font size="4"><b>Current Office Hours</b></font>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Name</th>
                        <th>Day</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hour in Model.ActiveOfficeHours)
                    {
                        <tr>
                            <td>@hour.Course.CourseNumber</td>
                            <td>@hour.Student.FirstName @hour.Student.LastName</td>
                            <td>@hour.Start.DayOfWeek</td>
                            <td>@hour.Start.ToShortTimeString() - @hour.End.ToShortTimeString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

            <font size="4"><b>Weekly Office Hours</b></font>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Name</th>
                        <th>Day</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hour in Model.WeeklyOfficeHours)
                    {
                        <tr>
                            <td>@hour.Course.CourseNumber</td>
                            <td>@hour.Student.FirstName @hour.Student.LastName</td>
                            <td>@hour.Start.DayOfWeek</td>
                            <td>@hour.Start.ToShortTimeString() - @hour.End.ToShortTimeString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <font size="4">There are currently @Model.Population students in the SRC.</font>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/Scripts/populationChart.js")
}