@model RoomQuery.Models.IndexViewModel



@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Room Query</title>
</head>

<div>
    <h1>Room Query</h1>
    <p class="lead">Description.</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="container">
    <canvas id="myChart"></canvas>
</div>

<div>
    The current SRC population is: @Model.Population
</div>

<div>
    The current TA population is: @Model.ActiveOfficeHours.Count()
</div>


<body>
    @{if (Model.ActiveOfficeHours.Count() == 0)
        {
            <font size ="4"><b>TAs currently in the SRC</b></font>
        <div>
            There are no TAs currently in the SRC
        </div>
        }
        else
        {
        <table border="2" style='border-collapse: collapse; border-spacing: 10px; padding-left: 10px;'>
            <colgroup>
                <col span="1" style="width: 100px;">
                <col span="1" style="width: 100px;">
                <col span="1" style="width: 85px;">
                <col span="1" style="width: 150px;">
            </colgroup>
            <font size="4"><b>TAs currently in the SRC</b></font>
            <caption class="text-center" style="font-weight: bold; font-size: 120%; color: black;">TAs currently in the SRC</caption>
            <tr>
                <th class="text-center">Course</th>
                <th class="text-center">Name</th>
                <th class="text-center">Day</th>
                <th class="text-center">Time</th>
            </tr>
            @foreach (var hour in Model.ActiveOfficeHours)
                {
                    string[] start = @hour.Start.ToString().Split(' ');
                    string[] end = @hour.End.ToString().Split(' ');
                    string[] startTime = @start[1].Split(':');
                    string[] endTime = @end[1].Split(':');

                <tr style="text-align:center">
                    <td>@hour.Course.CourseNumber</td>
                    <td>@hour.Student.FirstName @hour.Student.LastName</td>
                    <td>@hour.Start.DayOfWeek</td>
                    <td>@startTime[0]:@startTime[1] @start[2] - @endTime[0]:@endTime[1] @end[2]</td>
                </tr>
            }
        </table>
        }
    }


    <table border="2" style='border-collapse: collapse; border-spacing: 10px; padding-left: 10px;'>
        <colgroup>
            <col span="1" style="width: 100px;">
            <col span="1" style="width: 100px;">
            <col span="1" style="width: 85px;">
            <col span="1" style="width: 150px;">
        </colgroup>
        <font size="4"><b>TA schedule for the week</b></font>
        <!--<caption class="text-center" style="font-weight: bold; font-size: 120%; color: black;">TA schedule for the week</caption>-->
        <tr>
            <th class="text-center">Course</th>
            <th class="text-center">Name</th>
            <th class="text-center">Day</th>
            <th class="text-center">Time</th>
        </tr>
            @foreach (var hour in Model.WeeklyOfficeHours)
            {
                string[] start = @hour.Start.ToString().Split(' ');
                string[] end = @hour.End.ToString().Split(' ');
                string[] startTime = @start[1].Split(':');
                string[] endTime = @end[1].Split(':');

                <tr style="text-align:center">
                    <td>@hour.Course.CourseNumber</td>
                    <td>@hour.Student.FirstName @hour.Student.LastName</td>
                    <td>@hour.Start.DayOfWeek</td>
                    <td>@startTime[0]:@startTime[1] @start[2] - @endTime[0]:@endTime[1] @end[2]</td>
                </tr>
            }
    </table>
</body>

@section Scripts {
    @Scripts.Render("~/Scripts/populationChart.js")
}